<div class="container">
  <div class="user-details">
    <h3> 課程活動架構 </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>彈性學習</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>價值3學分，只要畢業前完成<br>
         2個競賽活動<br>
         30小時迷你課程</p>
    </div>
    <div class="four columns">
      <h4>競賽活動</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>做中學又有高額獎金<br>
        經濟播客競賽（每學年上學期）<br>
      經濟·數據分析競賽（每學年下學期）</p>
    </div>
    <div class="four columns">
      <h4>迷你課程</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>十八般武藝，只怕你學上癮<br>
        資料探勘與視覺化、互動資訊網頁設計<br>影音剪輯、動畫製作——應有盡有</p>
    </div>
  </div>
</div>
