<div class="container">
  <div class="user-details">
    <h3> 詳細說明 </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/rules.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 修課規則 </h5>
      本課程是由一系列不定日期、時間的迷你課程（長度2~3小時）及競賽活動所串成，學生可自由挑選
      想上的迷你課程及參與的競賽活動，在畢業前完成要求的迷你課程總時數及競賽活動參與後，
      獲得【經濟時事與多媒體出版】課程3學分。
      <a class="project-link" href="Rules/">點閱完整規則</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/minicoursehalf.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 迷你課程細節 </h5>
      <p>不定時公告於【經濟時事與多媒體出版】臉書社團及迷你課程公佈欄，有興趣且符合修課資格同學必需先加入此社團。</p>
      <a class="project-link" href="https://www.facebook.com/groups/ntpuecon.mpei/">加入臉書社團</a>
      <a class="project-link" href="https://ntpuecon.github.io/minicourses/">迷你課程<br>公佈欄</br></a>
    </div>
  </div>
</div>
