<div class="container">
  <div class="user-details">
    <h3> 詳細說明 </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/rules.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 修課規則 </h5>
      本課程是由一系列不定日期、時間的迷你課程（長度2~3小時）及競賽活動所串成，學生可自由挑選
      想上的迷你課程及參與的競賽活動，在畢業前完成要求的迷你課程總時數及競賽活動參與後，
      獲得【經濟時事與多媒體出版】課程3學分。
      <li>課程架構：【經濟時事與多媒體出版】（以下簡稱【經時】）課程只會開在每學年的下學期；【迷你課程】則每學期會
      不定日期開課，每堂課長度2~3小時，一學期至少會有7堂。
      <li>【迷你課程】參與資格：主修、輔系、雙主修經濟學大學部學生。</li>
      <li>【經時】課程選修資格：
      <ul><ul>
        <li>主修、輔系、雙主修經濟學大學部學生。</li>
        <li>【經時】開課當學期前已完成至少21小時迷你課程者，才可於選課系統選修【經時】。</li>
      </ul></ul>
      <li>【經時】評分方式：
      <ul><ul>
        <li> 在學階段至選修【經時】學期結束前完成： (1) 經濟播客競賽或經濟·數據分析競賽其中之一； 及(2)
          完成至少（含）30小時不重覆的迷你課程</li>
        <li>老師會以學生表現紀錄給與成績。</li>
       </ul></ul>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/minicoursehalf.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 迷你課程細節 </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
